extends layout

block content 
  

  h2=title
  h1 Welcome, Select a Gym to start! 
    h3 This application will show you the amount of machines in use in each gym. To view the gym you would like to check select an option below. 
  p __________________________________________________________
  
  .div.row
    a(href='/maincampus')
        img(src='images/qu.jpg')
    a(href= "/yorkhill")
      img(src='images/rockytop.jpg')   

  p __________________________________________________________

  p <a href="https://catalog.qu.edu/handbooks/graduate/campus-offices/athletics-recreation/facilities/">Want to learn more? Click Here!</a> 

