extends layout

block content
  h1= title
  p Welcome to #{title}    
  p __________________________________________________________
  a(href= "/maincampus")
    button Carl Hansen Gym on Main Campus
  p __________________________________________________________
  a(href= "/yorkhill")
    button Rocky Top Gym on York Hill Campus
 

