extends layout

block content
  h1= title
  p Welcome to #{title}    
  p __________________________________________________________
  p Hours of Operation: (Main Campus)
  p Monday - Friday   7am-10pm
  p Saturday/Sunday   9am-7pm
  p __________________________________________________________
  p Hours of Operation: (York Hill Campus)
  p Monday - Thursday 7am-9pm
  p Friday            7am-7pm
  p Saturday/Sunday   9am-7pm
