extends layout

block content 


  h2= title
  h1 Welcome, Select a Gym to start!   
  p __________________________________________________________
  a(href= "/maincampus")
    button Carl Hansen Gym on Main Campus
  p __________________________________________________________
  a(href= "/yorkhill")
    button Rocky Top Gym on York Hill Campus
 

