extends layout

block content
  h1= title
  p Welcome to #{title}    
  p __________________________________________________________
  p Carl Hansen Gym on Main Campus
  p Hours of Operation:
  p Monday - Friday   7am-10pm
  p Saturday/Sunday   9am-7pm
  p There are currently __ out of __ machines avilable 
  p __________________________________________________________
  p Rocky Top Gym on York Hill Campus
  p Hours of Operation:
  p Monday - Thursday 7am-9pm
  p Friday            7am-7pm
  p Saturday/Sunday   9am-7pm
  p There are currently __ out of __ machines avilable 

