extends layout
block content

  h1 Welcome to the Carl Hansen Fitness Center on Main Campus
  a(href= "/yorkhill") 
    button Rocky Top Gym on York Hill Campus
  a(href= "/")
        button Home Page
   h3 Hours of Operation:
    p Monday - Friday   7am-10pm
    p Saturday/Sunday   9am-7pm
  - var counter = 0;
  p There are currently #{counter} out of __ machines available

  h1 News and Announcements:
    h3 The fitness center will be closed for Thanksgiving break!
    h3 Students are required to wear a mask at all times
button(onclick='removeperson()') Remove a person.
  button(onclick='addperson()') Add a person.

  script.
    var inUse = 0
    var ms = #{machines}
    function removeperson(e) {
      inUse += 1
      if (inUse < 20) {
        alert(` machine #${ms - inUse} assigned`)
      } else {
        alert('All machines are taken, please try again later.')
      }
    }
    function addperson(e) {
      inUse += 1
      if (inUse < 20) {
        alert(` machine #${ms + inUse} assigned`)
      } else {
        alert('All machines are taken, please try again later.')
      }
    }
