block content
  h1= title
  p Welcome to #{title}   

P Carl Hansen Gym on Main Campus
  p Hours of Operation:
  p Monday - Friday   7am-10pm
  p Saturday/Sunday   9am-7pm
  p There are currently __ out of __ machines avilable 

  button Add a person
  button Remove a person