
extends layout


block content
  h1= title
  p Welcome to #{title}   
   p Hours of Operation:
  p Monday - Thursday 7am-9pm
  p Friday            7am-7pm
  p Saturday/Sunday   9am-7pm
  - var counter = 0;
  p There are currently #{counter} out of __ machines avilable 

button(onclick='addperson()') Add a person

script.
  var addperson = function() {
    counter = counter + 1;
  }
  
    return counter;
  

//button(onclick='something()') Click




  




