

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
  perspective: 700px;
  font-size: clamp(10px, 2vw, 20px);
  background-color: black;
  overflow-y: scroll; 
}

p {
  color: gold;
  font-size: 22px;
  align-items: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h3 {
  color: white;
  
}



h1 {
  position: center;
  font-family: 'Exo';
  font-size: 30 px;
  margin: 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
  color: blue;
  
}

h2 {
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 60px;
  margin-top: -0.6em;
  color: blue;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em gold, 0 0 0.3em gold;
  
}

img {
  border-radius: 50%;
  width: auto;
  height: 15em;
  margin-right: 10px;
}

.bkimg1 {
  background-image: url(/images/maincampusequip.png),url(/images/qu.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left, right;
  background-size: 450px;

}

.bkimg2 {
  background-image: url(/images/yorkhillequip.png),url(/images/rockytop.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left, right;
  background-size: 500px, 450px;

}
